* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    background:
        radial-gradient(
            circle at center,
            #292929 0%,
            #161616 45%,
            #080808 75%,
            #020202 100%
        );

    color: white;
    overflow: hidden;
}

.hero {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BIG CITY */
.small-title {
    font-family: "Cinzel", serif;

    font-size: clamp(1rem, 2vw, 1.7rem);
    font-weight: 600;

    letter-spacing: 0.65em;
    margin-right: -0.65em;

    color: #d6bd7b;

    /* Keep it close to Dick */
    margin-bottom: 5px;

    position: relative;
    z-index: 5;
}

/* DICK */
h1 {
    font-family: "Great Vibes", cursive;

    font-size: clamp(7rem, 18vw, 16rem);
    font-weight: 400;

    line-height: 0.9;

    color: #f7e4a4;

    text-shadow:
        0 2px 0 #9c7628,
        0 5px 12px rgba(0, 0, 0, 0.8),
        0 0 30px rgba(220, 183, 91, 0.25);
}

/* Gold decoration */
.ornament {
    margin-top: 35px;

    color: #d6bd7b;
    font-size: 1.4rem;
}

.ornament::before,
.ornament::after {
    content: "";

    display: inline-block;

    width: 70px;
    height: 1px;

    background: #d6bd7b;

    vertical-align: middle;

    margin: 0 18px;
}
